@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    background-image: linear-gradient(to right, #22793f83, #ffffff);
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    width: 700px;
    margin: auto;
}
#principal {
    background-color: rgb(21, 114, 44);
    font-family: 'kaushan script', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: black;
}
main {
    background-color: rgb(243, 197, 204);
    width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}
h1 {
    font-family: 'kaushan script', sans-serif;
    color: rgb(100, 26, 170);
    text-align: center;
}
h2 {
    text-align: center;
    font-family: 'kaushan script', sans-serif;
    color: red;
}
article > p {
    text-align: justify;
    text-indent: 40px;
}

