@charset "UTF-8";

body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    background-color: white;
    width: 700px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
}
h1 {
    background-color: rgb(7, 7, 177);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
h2 {
    background-color: rgb(129, 29, 29);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
p {
    background-color: rgb(198, 243, 153);
    padding: 5px;
    border-radius: 10px;
    text-align: justify;
    text-indent: 40px;
}