@charset "UTF-8";

body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: brown;
    border-radius: 10px;
}
header > h1 {
    color: white;
    text-align: center;
    padding: 5px;
}
main {
    background-color: rgb(224, 184, 191);
    width: 700px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}
h1 {
    text-align: center;
    font-size: 3em;
    color: brown;
}
h2 {
    color: blue;
}
p {
    text-align: justify;
    text-indent: 40px;
}